body, html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color:#ECF0F1;
}

li {
  list-style-type: none;
  display: inline-block;
}

h2 {
  font-size: 36px;
}

button {
  margin: 0 auto;
  display: block;
  font-size: 20px;
  padding: 5px 20px 5px 20px; 
  border-radius: 10px;
  background-color: #fff;
  outline: none;
}

/*removes the dotted border from the tabs in Firefox*/
a {
  outline: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}
/*//////////////////*/


#about a, #work a, #work h2:hover, .work_contact a:hover {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;    
  text-decoration: none;
}

#work h2 {
  color: #000;
}

h2.project_title {
  width: 25%;
  color: #000;
}

h2.project_title:hover {
  color: #2F41CC;
  text-decoration: none;
}

#work h2:hover, .work_contact a:hover, #about a:hover {
  color: #2F41CC;
  text-decoration: none;
}


  /*topnav Elements*/
.topnav {
  position: fixed;
  color: #ecf0f1;
  width: 100%;
  height: 65px;
  font-size: 34px;
  letter-spacing: 6px;
  z-index: 100;
  background: transparent url(../img/arrow1.png) scroll top left repeat-x;
  top: 0;
  left: 0;
}

.nameDiv {
  margin: 10px;
  letter-spacing: 21px;
  text-align: center;
}

a:link, a:visited, a:active, h1:hover {
  color: #ECF0F1;
}

.links {
  font-size: 23px;
  text-align: center;
  margin: 57px 0 0 0;
  cursor: pointer;
  width: 100%;
  position: fixed;
  z-index: 2
}

.links li {
  width: 33%;
  padding: 12px 0 8px 0;
  margin: 0 -2px 0 -4px;
  background-color: #2C2829;
  color: #ecf0f1;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;    
}

.links li:hover {
  background-color: #293231;
  text-decoration: none;
}

/*for persistant active link*/
.links li.work.current {
  background-color: #FEF7EA;
  color: #293231;
}

.links li.resume.current {
  background-color: #9ABAD3;
  color: #293231;
}

.links li.about.current {
  background-color: #FE7072;
  color: #293231;
}

.up_arrow {
  padding: 0 20px 0 0;
  position: fixed;
  top: 88%;
  left: 94.3%;
  color: #333541;
  z-index: 10000;
}

.up_arrow:hover {
  color: #000;
}

.hide_arrow {
  display:none;
}

/*marquee fonts*/

#about p {
  font-family: 'Nixie One', cursive;
}


/*for pic hover transition*/
.pic1 {
  background: url('../img/bandhub1.png');
}
.pic2 {
  background: url('../img/bandhub2.png');
}
.pic3 {
  background: url('../img/moviepop.png');
}
.pic4 {
  background: url('../img/scenic1.png');
}
.pic5 {
  background: url('../img/scenic2.png');
}
.pic6 {
  background: url('../img/scenic3.png');
  width: 150px;
  height: 217px;
  margin: 15px;
  background-size: cover;
  float: left;
}
.pic7 {
  background: url('../img/wifly1.png');
}
.pic1, .pic2, .pic3, .pic4, .pic5, .pic7 {
  width: 459px;
  height: 217px;
  margin: 15px;
  background-size: cover;
  float: left; 
}

.work_pics_wrapper {
  width: 100%;
  height: 240px;
}

.text {
  background: #000;
  text-align: center;
  color: yellow;
  opacity: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.text:hover {
  opacity: .8;
}


/*content elements*/

#about, #work, #resume {
  font-family: 'Raleway';
  font-size: 22px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

#work {
  background-color: #FEF7EA;
  color: #293231;
  padding: 85px 35px 0 35px;
}

#about {
  background-color: #FE7072;
  color: #ecf0f1;
  padding: 100px 35px 35px 35px;
  letter-spacing: 1px;
}

#resume {
  background-color: #9ABAD3;
  color: #293231;
  padding: 115px 35px 20px 35px;
}

#about a {
  color: #293231;
}

.work_footer {
  font-family: Baskerville, "Baskerville Old Face", serif;  
  background-color: #353743;
  color: #fff;
  height: 80px;
  margin: 0;
  position: relative;
  overflow: hidden;
  min-width: 100%;
}


.work_contact {
  letter-spacing: 2px;
  font-size: 18px;
  padding: 20px 0 0 0;
  width: 300px;
  float: right;
}

.work_contact a {
  color: #fff;
  margin-left: 25px;
}

.all_work_wrapper a:hover {
  color: darkblue;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.all_work_wrapper h2 {
  margin-bottom: 10px;
}

.ga:hover {
  color: #2F41CC;
}

.linedrop {
  margin-left: 20px;
}

.linedrop:hover {
  color: #2F41CC;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;    

}

.res-links {
  font-size: 20px;
}

.res-links-container {
  max-width: 99%;
}

.res_div {
  background-color: #fff;
  color: #000;
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 30px 50px;
  border-radius: 3px;
}

.res_div a {
  color: #000;
  text-decoration: none;
}

.res_div a:hover {
  color: darkblue;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.res_heading {
  margin-bottom: -15px;
  color: #003366;
  font-size: 28px;
}

.res_subheading {
  color: #003366;
  font-size: 25px;
}

#about .portrait {
  float: right;
} 

#about img {
  width: 250px;
  height: 250px; 
  margin: 15px 0 0 14px;
  border-radius: 50%;
}


@media (max-width: 980px) {

  .nameDiv {
    margin: 12px auto 0;
    display: block;
    letter-spacing: 5px;
  }

  /*.topnav {
    height: 65px;
  }
*/

  #about-link, #work-link, #resume-link {
    width: 100%;
  }

  .links {
    margin: 56px 0 0 0;
  }

  .links li {
    float: left;
    clear: left;
    text-align: left;
    font-size: 20px;
    color: #fff;
    padding: 20px 0 15px 20px;
  }

  #about, #work, #resume {
    float: none;
    max-width: 100%;
    font-size: 19px;
  }

  #about {
    padding: 25px 15px 20px 15px;
    margin: 0;
  }

  #work {
    padding: 150px 15px 20px 15px;
    /*margin: 208px 0 0 0;*/
    margin: 0;
  }

  #resume {
    padding: 25px 15px 20px 15px;
    margin: 0;
  }

  .pic9 {
    width: auto;
    height: auto;
    margin: 10px 0px 0px 0px;
  }

}

@media (max-width: 850px) {
  

}

@media (max-width: 480px) {


  .nameDiv {
    font-size: 28px;
    margin: 10px auto 0;
    display: block;
  }
  
  .links {
    display: none;
  }

  #about, #work, #resume {
    font-size: 21px;
    max-width: 100%;
  }

  #about {
    padding: 19px 15px 20px 15px;
    margin: 0;
  }

  #work {
    padding: 19px 15px 20px 15px;
    margin: 30px 0 0 0;
  }

  #resume {
    padding: 19px 15px 20px 15px;
    margin: 0;
  }

  .res-links {
    width: 100%;
  }

  #about img {
    display: block;
    clear: both;
  }

  .portrait {
    width: 100%;
  }

  .res_div {
    width: 75%;
  }

  h2.project_title {
    width: 75%;
  }

  .work_footer {
    display: none;
  }

  .up_arrow {
    top: 88%;
    left: 87%;
  }

}





