
html {
  margin: -8px -8px 0 -8px;
}

body {
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin-bottom: 0;
}

h2 {
  font-size: 36px;
}

.social a, #photos a, #about a, #work a, .nameDiv a {
  transition: all 0.3s ease;
  text-decoration: none;
}

.social a:hover, #photos a:hover, #about a:hover, #work a:hover, .nameDiv a:hover {
  color: #2287B5;
  text-decoration: none;
}


  /*Sidebar Elements*/

.myName {
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  padding-bottom;
  cursor: pointer;
  letter-spacing: 6px;
}

.nameDiv {
  text-align: center;
  margin-bottom: 15px;
  padding-top: 15px;
}

.nameDiv img {
  height: 125px;
  border-radius: 100px;
  margin-top: 10px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#hamburger {
  color: #333333;
  margin-left: 43%;;
}

#hamburger:hover {
  cursor: pointer;
}

.sidebar {
  float: left;
  background-color: #7f8c8d;
  width: 24%;
  position: fixed;
  height: 100%;
  padding: 10px 0 0 0;
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
  border: 0;
}

.sidebar a {
  text-decoration: none;
}
.sidebar_image {
  position: absolute;
}

.links {
  font-size: 20px;
  text-align: center;
  margin-left: -43px;
  cursor: pointer;
}

a:link, a:visited, a:active, h1:hover {
  color: #333333;
}

#splash a:hover, .sidebar a:hover {
   text-decoration: none;
}

#the_more_div {
  display: none;
}

.links li {
  transition: all 0.3s ease;
  padding: 10px;
}

.links li:hover {
  background-color: #408AD2;
  text-decoration: none;
}

/*for persistant active link*/
.links li.current {
  background-color: #408AD2;
}

.social li {
  transition: background-color 0.3s ease;
  display: inline-block;
  margin: 5%;
}

.social a:hover {
  color: #2287B5;
}


/*content elements*/

#because {
  width: 100%;
  margin-left: 14%;
  margin-bottom: 0;
  letter-spacing: 15px;
  color: #333333;
  font-family: 'Domine';
  font-size: 120px;
  text-shadow: 0px 1px 1px #4d4d4d;
}

#laptop_div {
  margin: 0 0 0 38%;
  background-color: none;
  position: relative;
  color: #333333
}

#splash {
  width: 70%;
  float: right;
  background-color: #408AD2;
  margin-left: 0%;
  padding: 10px 50px 20px 50px;
  font-family: 'Raleway';
  font-size: 22px;
  height: 650px;
  clear: both;
  overflow: hidden;
}

#photos, #about, #work {
  float: left;
  position: absolute;
  background-color: #408AD2;
  margin-left: 24%;
  padding: 25px 50px 20px 50px;
  font-family: 'Raleway';
  font-size: 22px;
}

.ga:hover {
  color: #c0392b;
}

.linedrop {
  margin-left: 20px;
}

.linedrop:hover {
  color: #2287B5;
  transition: background-color 0.3s ease;
}


@media (min-width: 481px) and (max-width: 800px) {

  .myName {
    font-size: 24px;
    letter-spacing: 4px;
  }

  .name_div img {
    height: 115px;
  }

  #hamburger {
    margin-left: 37%;
  }

  #because {
    font-size: 75px;
  }

  #laptop_div {
    font-size: 21px;
    margin-left: 45%;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

  .myName {
    font-size: 40px;
    letter-spacing: 4px;
  }

  .sidebar {
    width: 105%;
    height: auto;
    float: none;
    z-index: 1000;

  }

  #photos, #about, #work, #splash {
    width: 100%;
  }

  #because {
    font-size: 35px;
  }

  #laptop_div {
    margin-left: 45%;
    font-size: 10px;
  }

  #photos, #about, #work, #splash {
    float: none;
    position: absolute;
    width: 94%;
    padding: 15px 15px 20px 15px;
    font-size: 20px;
    margin: 360px 0 0 0;
  }

  .in_a_box {
    padding: 0px 12% 10px 10%;

  }

  #photos img {
    width: 97%;
  }

}




