
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image:url('http://farm6.staticflickr.com/5248/5310311205_eae39040f1_b.jpg');
  /*background-image:url('http://farm3.staticflickr.com/2451/4347642063_61c1bf1610_b.jpg');*/
  background-color:#cccccc;
  background-position: 0 69px;
  /*background-position: 0 -250px;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

li {
  list-style-type: none;
  display: inline-block;
}

ul {

}

h2 {
  font-size: 36px;
}

td {
  padding-right: 30px;
  width: 40%;
}

.social a, #photos a, #about a, #work a, .nameDiv a {
  transition: all 0.3s ease;
  text-decoration: none;
}

.social a:hover, #photos a:hover, #about a:hover, #work a:hover, .nameDiv a:hover {
  color: #2F41CC;
  text-decoration: none;
}


  /*topnav Elements*/

.topnav {
  margin-top: -16px;
  position: fixed;
  background-color: #7f8c8d;
  width: 100%;
  height: 75px;
  padding: 10px 0 0 0;
  z-index: 100;
}

.topnav a {
  text-decoration: none;
}

.topnav_image {
  margin-left: 47%;
  position: absolute;
  z-index: 1000;
}

.topnav_image img {
  height: 125px;
  border-radius: 100px;
  margin-top: 10px;

}

.myName {
  cursor: pointer;
}

.myName, #because {
  letter-spacing: 6px;
  color: #333333;
  font-size: 50px;
}

.nameDiv {
  float: left;
  margin: 10px 0px 0px 20px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}


#splash {
  float: right;
  height: 75px;
}

#because {
  float: left;
  margin: 10px 10px 10px 10px;
  /*text-shadow: 0px 1px 1px #4d4d4d;*/
}

#laptop_div {
  float: right;
  margin: 10px 10px 10px 10px;
  background-color: none;
  color: #333333;
  font-size: 12px;
}

/*.social {
  height: 25px;
  z-index: 10px
}*/



a:link, a:visited, a:active, h1:hover {
  color: #333333;
}

#splash a:hover, .topnav a:hover {
   text-decoration: none;
}

.links {
  font-size: 24px;
  text-align: center;
  margin: 69px 0 0 0;
  cursor: pointer;
  width: 100%;
  position: fixed;
  z-index: 2
}

.links li {
  padding: 10px;
  transition: all 0.3s ease;
  margin: 0 -2px 0 -4px;
  background-color: #95a5a6;
}


#about-link, #work-link, #photos-link, #resume-link {
  width: 23%;
}

.links li:hover {
  background-color: #7f8c8d;
  text-decoration: none;
  /*z-index: 900;*/
}

/*for persistant active link*/

.links li.about.current {
  background-color: #16A085;
  color: #ECF0F1;
}

.links li.work.current {
  background-color: #2980B9;
  color: #ECF0F1;
}
.links li.photos.current {
  background-color: #E74C3C;
  color: #ECF0F1;
}

.links li.resume.current {
  background-color: #2C3E50;
  color: #ECF0F1;
}


/*for pic hover transition*/

.pic1 {
  background: url('../img/bandhub1.png');
  width: 400px;
  height: 217px;
  margin: 15px;
  background-size: cover;
  float: left;
}
.pic2 {
  background: url('../img/bandhub2.png');
  width: 400px;
  height: 217px;
  margin: 15px;
  background-size: cover;
  float: left;
}
.pic3 {
  background: url('../img/moviepop.png');
  width: 400px;
  height: 217px;
  margin: 15px;
  background-size: cover;
  float: left;
}
.pic4 {
  background: url('../img/treasurehunter1.png');
  width: 400px;
  height: 217px;
  margin: 15px;
  background-size: cover;
  float: left;
}
.pic5 {
  background: url('../img/treasurehunter2.png');
  width: 400px;
  height: 217px;
  margin: 15px;
  background-size: cover;
  float: left;
}
.pic6 {
  background: url('../img/treasurehunter3.png');
  width: 130px;
  height: 217px;
  margin: 15px;
  background-size: cover;
  float: left;
}
.pic7 {
  background: url('../img/wifly1.png');
  width: 400px;
  height: 217px;
  margin: 15px;
  background-size: cover;
  float: left;
}

.text {
  background: #000;
  text-align: center;
  color: yellow;
  opacity: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.text:hover {
  opacity: .8;
}


/*content elements*/

#photos, #about, #work, #resume {
  /*background-color: #408AD2;*/
  padding: 150px 15px 20px 35px;
  font-family: 'Raleway';
  font-size: 22px;
  z-index: 1;
  position: relative;
}


#about {
  background-color: #16A085;
  color: #ECF0F1;
}

#work {
  background-color: #2980B9;
  color: #ECF0F1;
}

#photos {
  background-color: #E74C3C;
  color: #ECF0F1;
}

#resume {
  background-color: #2C3E50;
  color: #ECF0F1;
}

#photos img {
  width: 48 %;
}

.ga:hover {
  color: #2F41CC;
}

.linedrop {
  margin-left: 20px;
}

.linedrop:hover {
  color: #2F41CC;
  transition: background-color 0.3s ease;
}

.resume_pdf {
  width: 80%;
  height: 640px;
  zoom: 1.5;
  margin-left: 13%;
}

.pdf_button {
  margin-left: 36%;
  position: absolute;
  width: 300px;
}

/*see if resume inner padding is editable*/
.c20 {
  padding: 40pt 50pt 50pt 100pt;
}

@media (min-width: 481px) and (max-width: 800px) {

  .myName {
    font-size: 35px;
    letter-spacing: 4px;
  }

  .topnav img {
    height: 105px;
  }

  #because {
    font-size: 35px;
    margin: 10px -6px 10px 10px;
  }

  #laptop_div {
    font-size: 11px;
  }

  #about-link, #work-link, #photos-link, #resume-link {
    width: 100%;
  }
  .links li {
    float: left;
    clear: left;
    text-align: left;
    font-size: 18px;
    color: #fff;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

 .myName {
    font-size: 35px;
    letter-spacing: 8px;
    /*margin-right: 20%;*/
  }

  .navDiv {

    margin: 12px 0px 0px 13%;
  }

  .topnav {
    height: 100px;
  }

  .topnav img {
    display: none;
  }

  #because {
    display: none;
  }

  #splash {
    margin: -14px 0 0 36%;
  }

  #laptop_div {
    font-size: 11px;
  }

  #about-link, #work-link, #photos-link, #resume-link {
    width: 100%;
  }

  .links {
    margin: 94px 0 0 0;
  }

  .links li {
    float: left;
    clear: left;
    text-align: left;
    font-size: 18px;
    color: #fff;
  }

  #photos, #about, #work, #resume {
    float: none;
    position: absolute;
    width: 100%;
    padding: 15px 15px 20px 15px;
    font-size: 20px;
    margin: 360px 0 0 0;
  }

  .in_a_box {
    padding: 0px 12% 10px 10%;
  }

}





